.container{
    width: 100%;
    height: auto;
}

.wrapper{
    width: 100%;
    height: 60px;
    background-color: rgb(204, 0, 204);
}
.menubars a img{
    width: 200px;
    height: 200px;
    margin-top: -70px;
    float: right;
    
    
}

.menu a img{
    height: 24px;
    width: 24px;
    

}

.menu ul li{
    list-style: none;
    float: left;
    display: flex;
    margin-top: 70px;
}
.menu li{
    padding: 15px 15px;
}
