@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    background-image: url('image/Instakilogram.png');
    background-size: contain;
    background: position y -80px;
}

header {
    width: 100%;
    height: 80px;
}

.logo img {
    width: 150px;
    height: 70px;
    line-height: 60px;
    float: left;
}

.login_signup ul {
    display: flex;
    list-style: none;
    float: right;
}

.login_signup ul li {
    text-decoration: none;
    padding: 15px;
    margin-top: 0;
    line-height: 60px;
}

.login_signup ul li a {
    text-decoration: none;
    font-size: 20px;
}

#login a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 15px 10px 15px;
}

#signup a {
    color: #000;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 15px 10px 15px;
    background-color: #fff;
}

#wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

form {
    border: 1px solid #dadce0;
    border-radius: 5px;
    padding: 30px;
}

h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    font-family: 'Rubik Puddles', cursive;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

input {
    height: 50px;
    width: 300px;
    outline: none;
    border: 1px solid #dadce0;
    padding: 10px;
    border-radius: 5px;
    font-size: inherit;
    color: #202124;
    transition: all 0.3s ease-in-out;
}

label {
    position: absolute;
    padding: 0px 5px;
    left: 5px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
    background: black transparent;
    transition: all 0.3s ease-in-out;
}

.form-group input:focus {
    border: 6px solid darkgray;
}

.form-group input:focus+label,
.form-group input:valid+label {
    top: 0px;
    font-size: 13px;
    font-weight: 500;
    color: black transparent;
}

input#btn-login {
    background: rgba(39, 37, 37, 0.075);
    color: white;
    cursor: pointer;
}