body{
 background-color: rgb(213, 255, 181);
}
#nav,h1{
	font-size: 25px;
	color: darkblue;
	font-weight: bold;
}
#nav{
	text-align: center;
}
a:link {
  color: darkgreen;
}
a:hover {
  color: red;
}
header{
	border-style: solid;
    border-color: green;
	width: 37%;
}
main{
	
}