body{
 background-color: rgb(230, 230, 230));
}
#nav,h1{
	font-size: 25px;
	color: darkblue;
	font-weight: bold;
}
#nav{
	text-align: center;
}
a:link {
  color: darkgreen;
}
a:hover {
  color: red;
}
header{
	border-style: solid;
    border-color: green;
	width: 37%;
}
main{
	
}
h2,h3{
	color: darkred;
}
p.content,ul,div.info,article{
	font-family: Apple Chancery, cursive;
	font-size: 16px;
}
