div {
  font-family: Garamond, serif;
  font-size: 18px;
  border: 2px solid #4CAF50;
  background-image: linear-gradient(lightgreen, green);
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}
button {
  background-color: lightgreen;
  border: groove;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
button:hover {
  background-color: green;
  color: white;
}
